<div class="navbar">
    <a href="/" class="<%= activePage === 'shop' ? 'active' : '' %>">Home</a>
    <a href="/admin/add-product" class="<%= activePage === 'add-product' ? 'active' : '' %>">Add Product</a>
</div>
