doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="stylesheet", href="/css/main.css")
        block styles
    body
        //- <!-- Navbar -->
        .navbar
            a.active(href="/") Home
            a(href="/admin/add-product") Add Product
            
        block content