<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 - Page Not Found</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/404.css">
</head>

<body>
    
        <div class="navbar">
        <a href="/" class="active">Home</a>
        <a href="/admin/add-product">Add Product</a>
    </div>
   

    <main>
        <div class="container">
            <h1>404</h1>
            <p>Oops! The page you are looking for doesn't exist.</p>
            <a href="/">Go Back Home</a>
        </div>
    </main>

</body>

</html>