doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title 404 - Page Not Found
        link(rel="stylesheet", href="/css/main.css")
        link(rel="stylesheet", href="/css/404.css")
    body
        .navbar
            a.active(href="/") Home
            a(href="/admin/add-product") Add Product

        main
            .container
                h1 404
                p Oops! The page you are looking for doesn't exist.
                a(href="/") Go Back Home
