<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 - Page Not Found</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/404.css">
</head>

<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Shop</a></li>
                <li><a href="/admin/add-product">Add Product</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <div class="container">
            <h1>404</h1>
            <p>Oops! The page you are looking for doesn't exist.</p>
            <a href="/">Go Back Home</a>
        </div>
    </main>

</body>

</html>