<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product List</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/shop.css">
    
</head>
<body>
    <!-- Navbar -->
    <div class="navbar">
        <a href="/" class="active">Home</a>
        <a href="/admin/add-product">Add Product</a>
    </div>

    <!-- Main Content -->
    <div class="main-content">
        <h2>My Product List</h2>
        
    </div>
</body>
</html>
