main {
  background: white;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}
input[type="text"] {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  outline: none;
  transition: border 0.3s;
}

input[type="text"]:focus {
  border-color: #0984e3;
}

button {
  width: 100%;
  padding: 12px;
  background-color: #0984e3;
  color: white;
  font-size: 18px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background-color: #74b9ff;
}
