body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #d9cfc7;
  color: #a063b7;
}

header {
  background-color: #c9b59c;
  padding: 15px 0;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 30px;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 1.1rem;
  font-weight: bold;
  transition: 0.3s;
}

nav ul li a:hover {
  color: #74b9ff;
}

main {
  max-width: 450px;
  margin: 60px auto;
  padding: 35px;
  border-radius: 12px;
}

h2,
h1 {
  text-align: center;
  margin-bottom: 25px;
  font-size: 24px;
  color: #2d3436;
}
