*{
            padding: 0;
            margin: 0;
        }
  body{
    min-height: 100vh;
  }
.navbar {
  background-color: #4CAF50;  /* Green background */
  overflow: hidden;
  font-family: Arial, sans-serif;
  width: 100%;
}

/* Navbar items */
.navbar a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
  font-size: 17px;
}

/* Hover effect */
.navbar a:hover {
  background-color: #ddd;
  color: black;
}

/* Active link */
.navbar a.active {
  background-color: #333;
  color: white;
}
